html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: 100%;
}

p {
  text-indent: 2rem;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0.75vh;
}

.message-container {
  padding-bottom: 1rem !important;
  margin-bottom: 1rem !important;
}

.message-container > p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pointer {
  cursor: pointer
}

.imgbox {
  text-align: center;
  padding: 30px;
}

.imgbox > img {
  width: auto;
  height: 480px;
}

.margin {
  margin-left: 32px;
  margin-right: 32px;
}

.bg-unua {
  background-color: #005500 !important;
}
.bg-dua {
  background-color: #007700 !important;
}
.bg-tria {
  background-color: #f1f1f1 !important;
}

.nav-item, button {
  height: 48px;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: transform 0.1s ease-in;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px !important;
  vertical-align: middle;
}

.nav-item:hover {
  transform: scale(1.1);
}

.card:hover, button:hover {
  transform: scale(1.01);
}

.control-center {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 992px) {
  .margin {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 499px) {
  .imgbox > img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 500px) and (max-width: 749px) {
  .imgbox > img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 750px) and (max-width: 949px) {
  .imgbox > img {
    height: 238px;
  }
}

@media (min-width: 950px) and (max-width: 1199px) {
  .imgbox > img {
    height: 300px;
  }
}