.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 749px) {
    .gallery-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 750px) and (max-width: 949px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 950px) and (max-width: 1199px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
  